/* Color palette */

$jungle-green: #008645;
$dark-blue-green: #00632f;
$black-13: rgba(0, 0, 0, 0.13);
$black-16: rgba(0, 0, 0, 0.16);
$black-21: rgba(0, 0, 0, 0.21);
$black: #000;
$white: #ffffff;
$warm-grey: #757575;
$fern-green: #388149;
$black-three: #353535;
$black-three-30: rgba(#353535, 0.3);
$red: #db0000;
$teal-green: #26975c;
$black-20: rgba(0, 0, 0, 0.2);
$greyish-brown: #484848;
$white-0: rgba(255, 255, 255, 0);
$white-40: rgba(216, 216, 216, 0.4);
$black-5: rgba(0, 0, 0, 0.05);
$greyish-brown-two: #585858;
$marigold: #ffca05;
$greyish-50: rgba(184, 184, 184, 0.5);
$greyish-brown-50: rgba(74, 74, 74, 0.5);
$dark-sky-blue: #4a90e2;
$black-0: rgba(0, 0, 0, 0);
$squash: #f6a316;
$black-80: rgba(0, 0, 0, 0.8);
$vivid-purple: #9013fe;
$vivid-purple-50: rgba(144, 19, 254, 0.5);
$light-grey: #e9eeeb;
$scarlet: #d0021b;
$orange-yellow: #ffa600;
$sun-yellow: #f8e71c;
$aquamarine: #00d4a4;
$aquamarine-50: rgba(0, 212, 164, 0.5);
$carmine-50: rgba(159, 4, 27, 0.5);
$dark-sky-blue-50: rgba(74, 144, 226, 0.5);
$sun-yellow-50: rgba(248, 231, 28, 0.5);
$jungle-green-50: rgba(0, 134, 69, 0.5);
$orange-yellow-50: rgba(255, 166, 0, 0.5);
$scarlet-20: rgba(208, 2, 27, 0.2);
$greyish-brown-three: #4a4a4a;
$black-50: rgba(0, 0, 0, 0.8);
$pale-grey: #f7faf9;
$viridian: #1c8d4e;


// pattern
$primary: #FFDA44;
