@import 'colors.scss';
@import 'reset.scss';
@import 'fonts.scss';

body {
  background: $white;
}

body,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
}

.index {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.indexQuiz {
  background-color: $black;
}