@import 'colors.scss';
@import 'reset.scss';
@import 'fonts.scss';

body {
  background: $white;
}

body,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
}

.index {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.titulo {
  color: $white;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 22px;
}
