@import '../styles/colors.scss';
@import '../styles/reset.scss';
@import '../styles/fonts.scss';

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 15px 0;
}

@media screen and (min-width: 768px) {

}